<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>


</ion-content>

<ion-content>
    
    
    <button ion-button  (click)="getMarca()">
        Llistar Marques
        </button>
        <div ion-item *ngFor="let marca of marques">
            <div><h1>{{marca.name}}</h1>
                <div class="item-note" item-right>
                  païs: {{marca.pais}}
                </div>
                <div class="item-note" item-right>
                   telefon: {{marca.telefon}}
                </div>
                <div class="item-note" item-right>
                 correu: {{marca.correu}}
                </div>    
                <div class="item-note" item-right>
                  id: {{marca.id}}
                </div>
            </div>          
            
        </div>
      
      
        
    
    
    
    <!--
  <ion-list>
    
      
     
  </ion-list>
   
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
-->

</ion-content>

