.toolbar-background {
    background-color: darkgreen;
}
.toolbar-title {
  color: hsla(0, 0%, 0%, .9);
  font: normal 20px Varela Round, sans-serif;
  width: 300px;  
  left: 0;
  letter-spacing: 10px;
  margin: 0 0 0 0;  
  text-align: center;
  text-transform: uppercase; 
  top:10px;
  bottom:0px;
  animation: move linear 5000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(240, 100%, 50%, 1), 
      3px -3px 0 hsla(240, 100%, 50%, 1), 
      2px -2px 0 hsla(240, 100%, 50%, 1), 
      1px -1px 0 hsla(240, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      

      4px 4px 0 hsla(240, 100%, 50%, 1), 
      3px 3px 0 hsla(240, 100%, 50%, 1), 
      2px 2px 0 hsla(240, 100%, 50%, 1), 
      1px 1px 0 hsla(240, 100%, 50%, 1)      
    ;
  }
  
  100% {
    text-shadow:
      4px -4px 0 hsla(240, 100%, 50%, 1), 
      3px -3px 0 hsla(240, 100%, 50%, 1), 
      2px -2px 0 hsla(240, 100%, 50%, 1), 
      1px -1px 0 hsla(240, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}